.box{
    height: 50px;
    width: 50px;
    border: 2px solid black;
    background-color: beige;
    /* transform: rotate(180deg); */
    /* transform: rotateX('50deg'); */
    transform: translate(30px) skew(30deg) translateY(20px) ; 
    display: flex;
    justify-content: center;
    align-items: center;
}
.continer{
    height: 80vh;
    width: 100vw;
border: 3px solid red;
background-color: darkgrey;
}